body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.margin-card{
  margin-top: 100px;
}

p {
  text-align: center;
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}